- @stylesheets << 'admin/gallery'
- include_javascript 'admin/dragdrop'
- include_javascript 'admin/gallery'

%h1= 'Edit Gallery'

- form_for [:admin, @gallery], :html => {:multipart => true} do |f|
  #gallery_panel
    .form-area
    
      %p.title
        %label Title
        = f.text_field :name, :class => 'textbox'
      
      .drawer
        .drawer_contents#attributes
          %table.fieldset
            %tr
              %th.label
                %label Description
              %td.field= f.text_area :caption, :class => 'textarea'
        .drawer_handle
          %a.toggle{:href=>'#attributes', :rel=>"toggle[attributes]", :class=>"#{(meta_errors? ? 'less' : 'more')}"}= meta_label
          
      %p.title
        %label Selected Assets <small>(Drag around for ordering)</small>
        %ul.asset-list-container#gallery_items= render :partial => 'items', :locals => { :items => @items }

  #assets_panel
    %p.title#asset-selection
      %label Assets Overview
      %span.asset_filters
        - form_tag(admin_assets_path,:id => 'filesearchform', :method => 'get') do
          %input{ :type => "search", :id => "search", :name => "search" , :value => params[:search] }
          = observe_field 'search',  :frequency => 1, :url =>  { :controller => 'galleries', :action=> 'search' }, :method => 'get', :with => "'search=' + escape(value) + '&id=' + #{@gallery.id}"
    %ul.asset-list-container#asset_items= render :partial => 'assets', :locals => { :assets => @assets }
  
  %p.note Drag your images to the Selected Assets area
  
  %p.buttons#submit_buttons
    - button_text = @gallery.new_record? ? 'Create' : 'Save Changes'
    = submit_tag button_text, :class => 'button'
    or
    = link_to 'Cancel', admin_galleries_url
    
  #routes{:style => 'display:none'}
    = hidden_field_tag 'admin_gallery_items_path', admin_gallery_items_path(@gallery)
    = hidden_field_tag 'admin_gallery_items_sort_path', admin_gallery_items_sort_path(@gallery)
  