- content_for 'page_css' do
  :sass

    th.remove
      width: 100px

    td.remove, td.add-item
      width: 100px
      font-size: 0.8em
      vertical-align: center

      a
        text-decoration: none
        color: #000

      img
        margin-bottom: 3px

    #content #galleries.index .page .info
      top: 0

.outset
  %table#galleries.index{:summary => "Listing of Galleries"}
    %thead
      %tr
        %th.title Title
        %th.date Assets
        %th.modify Remove
    %tbody
      - if @galleries.empty?
        %tr
          %td.note{:colspan => 4} No Galleries
      - else 
        - @galleries.each do |gallery|
          %tr.node.level-1{:id => "gallery-#{gallery.id}"}
            %td.name
              = image('folder_camera', :alt => "Gallery")
              = link_to gallery.name, edit_admin_gallery_url(gallery)
            %td.gallery= "#{gallery.gallery_items.length} items"
            %td.remove
              = link_to("#{image('minus.png')} Remove", admin_gallery_url(gallery), :method => :delete, :alt => 'remove gallery', :confirm => 'Are you sure? This will delete the gallery!')

#actions
  %ul
    %li= link_to image('plus') + " New Gallery", new_admin_gallery_path
  